


/* Tablet */
@media only screen and (min-width:601px) {

    /* Quantity Buttons */
    
    .serving {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top:6%;
        padding-left:5%;
        }
    
    h2 {
        display: flex;
        justify-content: center;
        }

    .bserving {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        gap: 20px;
    }  
    
    .counter-minus,
    .counter-plus {
        display: block;
        width: 35px;
        height: 35px;
        font-size: 25px;
        border-radius: 50%;
        border: 1px solid grey;
        background-color: #F1EEEE;
    }

    .counter-minus:hover,
    .counter-plus:hover {
        -webkit-transform:scale(1.50);
        -moz-transform:scale(1.50);
        -ms-transform:scale(1.50);
        -o-transform:scale(1.50);
        transform:scale(1.50);
    }
    /* .sizes buttons*/

    .sizes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 55px;
        position: absolute;
        top: 15%;
        width: 100%;
        }
    
    .small,
    .medium,
    .large {
        display: block;
        width: 49px;
        height: 46px;
        border-radius: 50%;
        border: 1px solid grey;
        color: grey;
        background-color: #F1EEEE;
        transition: background-color 0.6s;
    }
        
    .small:hover,
    .medium:hover,
    .large:hover {
        -webkit-transform:scale(1.50);
        -moz-transform:scale(1.50);
        -ms-transform:scale(1.50);
        -o-transform:scale(1.50);
        transform:scale(1.50);
        color: black;
        background-color: white;
        border: none;
        cursor: pointer;
        box-shadow: 1px 1px 4px gray;
    }
    
         /* Wheel Button */
    
    .wheelbutton{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 85px;
        height: 182px;
        left: 47.5%;
        top: 38%;
        background-color: rgba(255, 255, 255, 0.74);
        opacity:0.9;
        border-radius: 42.5px;
        backdrop-filter: blur(25px);
    }
    
    .arrowright {
        width: 100px;
        height: 80px;
        position: relative;
        border-radius: inherit;
        border-style: none;
        background: none;
    }
    
    .arrowleft {
        width: 100px;
        height: 80px;
        position: relative;
        align-items: center;
        border-radius: inherit;
        border-style: none;
        background:none;
    }
    
    
    .arrowleft img,
    .arrowright img{
        background: transparent;
        filter: grayscale(100%);
    }
    
    .arrowright img:hover,
    .arrowleft img:hover {
        filter: grayscale(0%);
    }

    /* Cart Button */
    
    .addCart{
        position: absolute;
        z-index: 1;
        display: flex;
        width: 160px;
        height: 42px;
        right: 11%;
        top: 32%;
        border-style: none;
        background: #FE3434;
        border-radius: 23.5px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: #F1EEEE;

        box-sizing: border-box;
        box-shadow: 1px 10px 15px rgba(254, 52, 52, 0.37);
    }
    
    .bcart {
        background: transparent;
        width: 30px;
        height: 30px;
        padding-right: 6px;
    }

}
/* Mobile */
@media only screen and (max-width:600px ) {
    
    /* Quantity buttons */
    
    .serving {
        display: flex;
        flex-direction: column;
    }
    
    h2 {
        display: flex;
        justify-content: center;
    }

    .bserving {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        gap: 20px;
    }  
    
    .counter-minus,
    .counter-plus {
        display: block;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid grey;
        background-color: whitesmoke;
    }

    .counter-minus:hover,
    .counter-plus:hover {
        -webkit-transform:scale(1.50);
        -moz-transform:scale(1.50);
        -ms-transform:scale(1.50);
        -o-transform:scale(1.50);
        transform:scale(1.50);
    }
    
    /* .sizes buttons*/

    .sizes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    }

    .small,
    .medium,
    .large {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid grey;
        color: grey;
        background-color: whitesmoke;
        transition: background-color 0.6s;
    }
    
    .small:hover,
    .medium:hover,
    .large:hover {
        -webkit-transform:scale(1.50);
        -moz-transform:scale(1.50);
        -ms-transform:scale(1.50);
        -o-transform:scale(1.50);
        transform:scale(1.50);
        color: black;
        background-color: white;
        border: none;
        cursor: pointer;
        box-shadow: 1px 1px 4px gray;
    }

    /* Wheel Button */

    .wheelbutton{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 85px;
        height: 182px;
        left: 38%;
        top: 55%;
        background-color: rgba(238, 238, 238, 0.5);
        border-radius: 42.5px;
        backdrop-filter: blur(25px);
    }
    
    .arrowright {
        width: 100px;
        height: 80px;
        position: relative;
        border-radius: inherit;
        border-style: none;
        background: none;
    }
    
    .arrowleft {
        width: 100px;
        height: 80px;
        position: relative;
        align-items: center;
        border-radius: inherit;
        border-style: none;
        background:none;
    }
    
    
    .arrowleft img,
    .arrowright img{
        background: transparent;
        filter: grayscale(100%);
    }
    
    .arrowright img:hover,
    .arrowleft img:hover {
        filter: grayscale(0%);
    }
    
    /* Cart Button */
    
    .addCart{
        position: absolute;
        z-index: 1;
        display: flex;
        width: 160px;
        height: 42px;
        right: 5%;
        bottom: 15%;
        border-style: none;
        background: #FE3434;
        border-radius: 23.5px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: white;
    }
    
    .bcart {
        background: transparent;
        width: 30px;
        height: 30px;
        padding-right: 6px;
    }

}
