/* Mobile */
@media only screen and (max-width:600px ) {

   
}


/* Tablet */
@media only screen and (min-width: 768px) {

}
/* .bserving buttons*/

@media only screen and (max-width:600px ) {

    .sleft, .rleft {
        display: block;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 2px solid grey;
        background-color: transparent;
        }
    
/* .sizes buttons*/

    .small, .medium, .large {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid grey;
        color: grey;
        background-color: transparent;
        transition: background-color .6s;
        }
    
    .small:hover, .medium:hover, .large:hover {
        background-color: skyblue;
        color: black; 
        cursor: pointer;
        text-shadow: 1px 1px 6px #fff;
        box-shadow: 1px 1px 6px gray;
    }
}