.cart{
    z-index: 2;
    display: none;
    width: 100%;
    height:100%;
    background-color: rgb(241, 239, 239);
    color: #010020;
    border-radius: 20px;
    margin-top: 5px;
    position: absolute;
    margin-left: -0.5%;

}

.active{
    display:block;
}

.cart-header{
    display: flex;
    justify-content: space-around;

    padding-top:2%;
}

.cart-items{
    display:flex;
    flex-direction: column;
}

.cart-item{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:10px 0px ;
}



.cart-item img{
    width:100px;
    
}

.item-info h4{
    font-size:12px;
     
}

.units{
    display:flex;
    align-items: center;
    gap:10px;
  
}

.btn{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid grey;
    background-color: whitesmoke;

}


.cart-footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    position:fixed;
    bottom:0;

    background-color: lightgray;
    backdrop-filter: blur(25px);
    border-radius: 20px 20px 0 0;
    
    height: 25vh;
    
    padding:5%;
}

.subtotal{
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.checkout{
    border-radius: 25px;
    background: #FE3434;
    width: 250px;
    height: 42px;

    font-size: 16px;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.checkout:active{
   width: 275px;
   height: 50px;
}

/* Tablet */
@media only screen and (min-width:601px) {

    .item-info h4{
        font-size:22px;
        position: relative;
        left:0%;
        top:0%;    
    }
    .cart-footer{
        width:95%;
        height:19vh;
        flex-direction: column;
        font-size: 23px;
    }

    .cart-header{
        font-size:26px;
    }

    .cart-item img{
        width:207px;
        
    }
    .cart-item {
        
    margin-left: -35px;
    }
    
    .cart h5{
        font-size: 35px;
        justify-content: center;
    }

    .units{
        gap: 11px;
        font-size: 22px;
    }

    .unit-price{
        font-size: 28px;
        position: relative;
        right: 2.75%;
    }

    .btn{
        width: 40px;
        height: 40px;

        font-size: 28px;
    }

    .checkout{
        width: 376px;
        height: 67px;
        font-size: 22px;
    }
}