@import url(header.css);
@import url(buttons.css);
@import url(pizzas.css);
@import url(cart.css);

body{
    font-family: 'Montserrat', sans-serif;
    background-image: url('../img/backgrounds/ipad-background.png');
    background-color: #F1EEEE;
    background-repeat: no-repeat;
    max-height: 90vh;
}

button {
    cursor:pointer;
}


@media only screen and (max-width:600px ) {
    body {
        background-image: url('../img/backgrounds/phone-background.png');
        height:730px;
    }
}

