@import url(header.css);
@import url(buttons.css);
@import url(pizzas.css);

body{
    font-family: 'Montserrat', sans-serif;
}
body {
    background-image: url('../img/backgrounds/ipad-background.png');
}

@media only screen and (max-width:600px ) {
    body {
        background-image: url('../img/backgrounds/phone-background.png');
    }
}