/*Mobile Version*/
@media only screen and (max-width:600px ) {
    .info{
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size:13px;
        
    }
    
    .info img{
        z-index:-1;
        position:absolute;
        bottom: -165px;
        width: 100%;
    }
    h4 {
        display: flex;
        justify-content: center;
        font-size:25px;
        margin: 10px;
    }
    h5 {
        display: flex;
        justify-content: center;
        font-size:18px;
        color:lightgrey;
        margin: 2px;
    }
    .description {
        text-align: justify;
        padding:2% 8%;
        margin: 0%;
    }
    .bottom_box {
        position: absolute;
        background-color: rgba(238, 238, 238, 0.5);
        width: 100vw;
        height: 60px;
        backdrop-filter: blur(25px);
        bottom: 0%;
    }
    .price {
        position: absolute;
        z-index: 1;
        left: 3%;
        bottom: 2.5%;
        display: flex;
        justify-content: center;
        margin: 2%;
    }

    /* .pizza1 {
        transform: rotate(90deg);
        position: absolute;
        bottom: -37%;

    }
    .pizza2 {
        transform: rotate(180deg);
        position: absolute;
        bottom:-37%;
    }  */

}

