/*Mobile Version*/
@media only screen and (max-width:600px ) {
    .serving {
        display: flex;
        flex-direction: column;
        }
    
    h2 {
        display: flex;
        justify-content: center;
        border: 1px solid black;
        }

    .bserving {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        gap: 20px;
    }

    .sizes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        gap: 20px;
    }


}




/* Tablet */
@media only screen and (min-width: 768px) {

}
