body{
    font-family: 'open sans';
}

/* .seving {
    background-color: blue;
} */
/* Tablet */
@media only screen and (max-width:1280px ) {

}

/* Mobile */
@media only screen and (max-width:600px ) {
    .navbar{
        display:flex;
        justify-content:flex-end;
        
    }

    .navbar-logo{
        display:flex;
        padding-right:15%;
    }

    .navbar-cart-bmenu{
        display:flex;
        justify-content: space-around;
       
    }
    
    .navbar img{
        width: 35px;
        height: 35px;
    }
    
    .logo-name{
        font-size: 16px;
        letter-spacing: 0.1em;
        line-height: 35px;

    }
    
    /*burger-menu*/ 
    .bmenu {
        width: 100%;
        top: 10px;
        left: 87%;    
        z-index: 2; 
    } 
    
    .menu {   
        width: 46px;
        height: 46px;
        border: none;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 10px;
    }
    
    .line {
        width: 15px;
        height: 2px;
        margin: 2px;
        display: flex;    
        background-color: black;
    }
    .line:nth-child(2) {
        width: 20px;
    }
    .line:nth-child(3) {
        width: 10px;
    }
}

.serving {
    display: flex;
    flex-direction: column;
    background-color: blue;
    }

.h2 {
    display: flex;
    justify-content: center;
    }

.sleft {
    display: flex;
    flex-direction: row;
    }





